* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about_header {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  list-style: none;
  background-color: #000;
  color: #fff;
  height: 25px;
  align-items: center;
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10px;
}

nav > ul {
  list-style: none;
  display: flex;
  gap: 100px;
  margin-right: 40px;
}

.section1 {
    background-color: #292727;
    height: 90vh;
}

.section1_img {
  width: 150px;
  height: 150px;
  margin-left: 15%;
  margin-bottom: -50px;
}

.section1 > div {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.second_para {
  border: 2px solid yellow;
  padding: 10px 20px;
  margin: 50px ;
  border-radius: 20px;
}

.third_para {
  padding: 10px 20px;
  margin: 50px;
}

.section2 img {
width: 400px;
margin-left: 30%;
}

.section2 p {
  border: 2px solid #292727;
  margin: 20px 40px;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 10px;
}

.s3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.s3_image {
  width: 350px;
  padding: 50px 0;
}

footer {
  background-color: #292727;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

